@font-face {
	font-family: 'Double Feature'; src: url('/fonts/DoubleFeature.ttf');
}

html,
body {
	background-color: #ECF0F1;
	color: white;
}

hr {
	border-color: white;
}

.container {
	max-width: 800px;
	width: 100%;
}

a:link,
a:hover,
a:active,
a:visited {
	/*font-family: 'Double Feature';*/
	text-decoration: none;
	color: #49433F;
}

.landing-row {
	height: 625px;
	background-color: #3498DB;
}

.landing-image {
	position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.search-row {
	height: 250px;
	background-color: #E74C3C;
	text-align: center;
}

.how-row {
	height: 500px;
}

.signup-row {
	height: 100px;
	background-color: #3498DB;
}

.youtube-row {
	height: 500px;
	background-color: black;
}

.music-video {
	margin: 0 auto;
  margin-top: 55px;
}

.instagram-row {
	height: 600px;
	background-color: #E74C3C;
}

#instafeed {
	padding-top: 35px;
}

#instafeed a img {
	margin-right: 4px;
	margin-bottom: 4px;
}

.social-row {
	height: 150px;
}

#map {
	width: 500px;
	height: 500px;
}