@font-face {
	font-family: 'Double Feature'; src: url('/fonts/DoubleFeature.ttf');
}

body {
	background-color: #ECF0F1;
}

.body-container {
	width: 100%;
}

.navbar-row {
	height: 70px;
}

.logo {
	height: 60px;
	margin-top: 5px;
}

a:link,
a:hover,
a:active,
a:visited {
	font-family: 'Double Feature';
	text-decoration: none;
	color: #49433F;
}

.landing-row {
	height: 625px;
	background-color: #3498DB;
}

.landing-image {
	position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.search-row {
	height: 250px;
	background-color: #E74C3C;
}

.how-row {
	height: 500px;
}

.signup-row {
	height: 100px;
	background-color: #3498DB;
}

.media-row {
	height: 500px;
	background-color: black;
}

.music-video {
	margin: 0 auto;
  margin-top: 55px;
}

.social-row {
	height: 150px;
	background-color: #E74C3C;
}

#map {
	width: 800px;
	height: 500px;
}

@media (min-width: 1250px) {
	.body-container {
		max-width: 1200px;
	}
}