@font-face {
	font-family: 'Double Feature'; src: url('/fonts/DoubleFeature.ttf');
}

.body-container {
	width: 100%;
}

.navbar-row {
	height: 70px;
}

.logo {
	height: 60px;
	margin-top: 5px;
}

a:link,
a:hover,
a:active,
a:visited {
	font-family: 'Double Feature';
	cursor: pointer;
	text-decoration: none;
	color: #49433F;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.landing-row {
	height: 625px;
	background-color: black;
}

.search-row {
	height: 250px;
	background-color: gray;
}

.how-row {
	height: 500px;
}

.signup-row {
	height: 100px;
	background-color: black;
}

.media-row {
	height: 500px;
	background-color: gray;
}

.social-row {
	height: 150px;
}

@media (min-width: 1250px) {
	.body-container {
		max-width: 1200px;
	}
}