<% titleVar = '| Home' %>

<div class="row landing-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="/images/pizza-landing.png" class="landing-image">
	</div>
</div>

<div class="row search-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S FIND PIZZA</h3>
		<p>
			<form action="/search" method="GET" role="search" class="form-inline">
				<input class="form-control input-lg" type="text" placeholder="Enter address" name="address" autocomplete="off" required>
				<button class="btn btn-lg btn-default" role="button" type="submit">FIND PIZZA NEARBY</button>
			</form>
		</p>
		<p>or</p>
		<p>
			<form action="/search" method="GET" role="search">
				<input type="hidden" name="latitude">
				<input type="hidden" name="longitude">
				<button class="btn btn-lg btn-default geolocation" role="button" type="submit" disabled="disabled">USE CURRENT LOCATION</button>
			</form>
		</p>
	</div>
</div>

<div class="row how-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S SEE HOW THIS WORKS</h3>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="thumbnail">
			<div class="caption">
				<h4>Search for close pizza!</h4>
				<hr class="how">
				<p>You can search for pizza by using your current location or entering an address. You'll get the eight closest pizzerias, so you don't have to be hungry for long.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="thumbnail">
			<div class="caption">
				<h4>Pick a pizzeria!</h4>
				<hr class="how">
				<p>You'll see the rating and a recent comment from Yelp. And Google will show you where it is on the map. Don't forget to tweet, so your friends can meet you there.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="thumbnail">
			<div class="caption">
				<h4>Revisit your favorite slice!</h4>
				<hr class="how">
				<p>Signup or signin so you can add the pizzeria to your places visited. You can see all the places you visited and a count of how many you've gone to.</p>
			</div>
		</div>
	</div>
</div>

<div class="row signup-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S SIGN UP</h3>
		<a data-toggle="modal" href="#signup-modal"><button class="btn btn-lg btn-default" role="button">SIGN UP</button></a>
	</div>
</div>

<div class="row instagram-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S GET HUNGRY</h3>
		<div id="instafeed"></div>
	</div>
</div>

<div class="row youtube-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S HAVE A PARTY</h3>
		<div class="video-wrapper">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/k6DA_WwO90c" frameborder="0" allowfullscreen class="music-video"></iframe>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/geolocation.js"></script>
<script type="text/javascript" src="/js/instafeed.js"></script>