<% titleVar = '| Home' %>

<div class="row landing-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="/images/pizza-landing.png" class="landing-image">
	</div>
</div>

<div class="row search-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S FIND PIZZA</h3>
		<p>
			<form action="/search" method="GET" role="search" class="form-inline">
				<input class="form-control input-lg" type="text" placeholder="Enter address" name="address" autocomplete="off" required>
				<button class="btn btn-lg btn-default" role="button" type="submit">FIND PIZZA NEARBY</button>
			</form>
		</p>
		<p>or</p>
		<p>
			<form action="/search" method="GET" role="search">
				<input type="hidden" name="latitude">
				<input type="hidden" name="longitude">
				<button class="btn btn-lg btn-default" role="button" type="submit">USE CURRENT LOCATION</button>
			</form>
		</p>
	</div>
</div>

<div class="row how-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S SEE HOW THIS WORKS</h3>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="thumbnail">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="thumbnail">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		</div>
	</div>
</div>

<div class="row signup-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S SIGN UP</h3>
		<a href="/signup"><button class="btn btn-lg btn-default" role="button">SIGN UP</button></a>
	</div>
</div>

<div class="row instagram-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S GET HUNGRY</h3>
		<div id="instafeed"></div>
	</div>
</div>

<div class="row youtube-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>LET'S HAVE A PARTY</h3>
		<iframe width="640" height="390" src="https://www.youtube.com/embed/k6DA_WwO90c" frameborder="0" allowfullscreen class="music-video"></iframe>
	</div>
</div>

<script type="text/javascript" src="/js/geolocation.js"></script>
<script type="text/javascript" src="/js/instafeed.js"></script>