<% titleVar = '| Home' %>

<div class="row landing-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="/images/pizza-landing.png" class="landing-image">
	</div>
</div>

<div class="row search-row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		<p>
			<form action="/search" method="GET" role="search">
				<input class="form-control input-lg" type="text" placeholder="Enter Address" name="address" autocomplete="off" required>
				<button class="btn btn-large btn-default" role="button" type="submit">Enter Address</button>
			</form>
		</p>
		or
		<p>
			<form action="/search" method="GET" role="search">
				<input type="hidden" name="latitude">
				<input type="hidden" name="longitude">
				<button class="btn btn-large btn-default" role="button" type="submit">Use Current Location</button>
			</form>
		</p>
	</div>
</div>

<div class="row how-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>HOW IT WORKS</h2>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		</div>
	</div>
</div>

<div class="row signup-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	</div>
</div>

<div class="row youtube-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<iframe width="640" height="390" src="https://www.youtube.com/embed/k6DA_WwO90c" frameborder="0" allowfullscreen class="music-video"></iframe>
	</div>
</div>

<div class="row instagram-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>LET'S LOOK AT PIZZA</h2>
		<div id="instafeed"></div>
	</div>
</div>

<div class="row social-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	</div>
</div>

<script type="text/javascript" src="/js/geolocation.js"></script>
<script type="text/javascript" src="/js/instafeed.js"></script>