<% titleVar = '| Home' %>

<div class="row navbar-row">
	
</div>

<div class="row landing-row">

</div>

<div class="row search-row">
	
</div>

<div class="row how-row">
	
</div>

<div class="row signup-row">
	
</div>

<div class="row media-row">
	
</div>

<div class="row social-row">
	
</div>