<% titleVar = '| Home' %>

<div class="row navbar-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="/images/pizza.png" class="logo">
		<a href="#">Log In</a>
		<a href="/signup">Sign Up</a>
	</div>
</div>

<div class="row landing-row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="/images/pizza.png">
	</div>
</div>

<div class="row search-row">
	
</div>

<div class="row how-row">
	
</div>

<div class="row signup-row">
	
</div>

<div class="row media-row">
	<iframe width="640" height="390" src="https://www.youtube.com/embed/k6DA_WwO90c" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row social-row">
	
</div>

<script type="text/javascript" src="/js/geolocation.js"></script>