<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 
		All pizza images were used with permision from Gustavo Zambelli.
		Please checkout his 52 Pizza Slice Project: https://goo.gl/JjSWZP
		-->

		<meta charset="utf-8">
		<meta name="google" content="notranslate">
		<meta http-equiv="Content-Language" content="en">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>You Are Pizza | <%= titleVar %></title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link rel="icon" href="/images/favicon.ico" />
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="container">
			<div class="header clearfix">
				<nav>
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#only-nav" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a href="/"><h3 class="text-muted">You Are Pizza</h3></a>
				    </div>
				    <div class="collapse navbar-collapse" id="only-nav">
				      <ul class="nav navbar-nav navbar-right">
				    		<li><a href="/">Home</a></li>
								<% if (!currentUser) { %>
									<li><a data-toggle="modal" href="#signup-modal">Sign Up</a></li>
									<li><a data-toggle="modal" href="#signin-modal">Sign In</a></li>
								<% } else { %>
									<li><a href="/profile">Profile</a></li>
									<li><a href="/logout">Logout</a></li>
								<% } %>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>

			<hr>

			<div class="container">
				<% include alerts %>
			</div>
			
			<%- body %>

			<hr>

			<div class="row about-row">
				<div class="col-xs-4">
					<a href="https://github.com/thomasvaeth" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a>
					<a href="https://twitter.com/thomasvaeth" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
					<a href="https://www.linkedin.com/in/thomasvaeth" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
				</div>
				<div class="col-xs-4 about-center">
					<p><a data-toggle="modal" href="#about-modal">About</a></p>
				</div>	
			</div>
		</div>

		<!-- Start of signup modal -->
		<div class="modal fade" id="signup-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="text-transform">Let's Be a Member</h3>
					</div>

					<hr>

					<div class="modal-body">

						<form action="/signup" method="POST" role="form">
							<div class="row">
								<div id="first-modal" class="col-xs-6 col-sm-4 col-sm-offset-2">
									<div class="form-group">
										<label for="first-name">Name</label>
										<input type="text" class="form-control input-lg" name="firstName" placeholder="First" id="first-name" style="text-transform: capitalize;" autocomplete="off" required>
									</div>
								</div>
								<div id="last-modal" class="col-xs-6 col-sm-4">
									<div class="form-group">
										<label for="last-name">&nbsp;</label>
										<input type="text" class="form-control input-lg" name="lastName" placeholder="Last" id="last-name" style="text-transform: capitalize;" autocomplete="off" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="form-group">
										<label for="email">Email address</label>
										<input type="email" class="form-control input-lg" name="email" placeholder="Email" id="email" autocomplete="off" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="form-group">
										<label for="password">Create a password</label>
										<input type="password" class="form-control input-lg" name="password" placeholder="Password (8 character minimum)" minlength="8" maxlength="99" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<input type="password" class="form-control input-lg" name="passwordConfirm" placeholder="Confirm Password" minlength="8" maxlength="99" required>
								</div>
							</div>
					</div>

					<hr>

					<div class="modal-footer">
						<button type="button" class="btn btn-lg btn-default text-transform" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-lg btn-primary text-transform">Sign Up</button>
					</div>

					</form>
				</div>
			</div>
		</div>
		<!-- End of signup modal -->

		<!-- Start of signin modal -->
		<div class="modal fade" id="signin-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="text-transform">Let's See What You Had</h3>
					</div>

					<hr>

					<div class="modal-body">

						<form action="/signin" method="POST" role="form">
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="form-group">
										<label for="email">Email address</label>
										<input type="email" class="form-control input-lg signin-email" name="email" placeholder="Email" id="email" autocomplete="off" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control input-lg" name="password" placeholder="Password" minlength="8" maxlength="99" required>
									</div>
								</div>
							</div>
					</div>

					<hr>

					<div class="modal-footer">
						<button type="button" class="btn btn-lg btn-default text-transform" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-lg btn-primary text-transform">Sign In</button>
					</div>

					</form>
				</div>
			</div>
		</div>
		<!-- End of signin modal -->

		<!-- Start of about modal -->
		<div class="modal fade" id="about-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="text-transform">Let's Learn Why</h3>
					</div>

					<hr>

					<div class="modal-body">

							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
								<img src="/images/me.jpeg" class="img-circle img-responsive center-block profile-pic">
								<p>You Are Pizza is a full stack web application built by Thomas Vaeth for General Assembly Seattle's Web Development Immersive program. The idea of the project is to keep track of all the different pizzerias you've tried and to not just go back to the same place over and over again. The application will continue to grow and improve.</p>
								</div>
							</div>
							<div class="row link-row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<p><a href="https://github.com/thomasvaeth/ga-pizza" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a>: Thomas Vaeth's GitHub repository</p>
									<p><a href="https://dribbble.com/zamax/projects/255701-52-Pizza-Slice-Project" target="_target"><i class="fa fa-dribbble fa-lg"></i></a>: Gustavo Zambelli's Dribbble project</p>
								</div>
							</div>
					</div>

					<hr>

					<div class="modal-footer">
						<button type="button" class="btn btn-lg btn-default text-transform" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End of about modal -->

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>