<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>You Are Pizza <%= titleVar %></title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="container">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li><a href="/"><i class="fa fa-film"></i> Home</a></li>
						<% if (!currentUser) { %>
							<li><a href="/signup">Sign Up</a></li>
							<li><a href="/login">Log In</a></li>
						<% } else { %>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</nav>
				<a href="/"><h3 class="text-muted">You Are Pizza</h3></a>
			</div>

			<hr>

			<div class="container">
				<% include alerts %>
			</div>
			<%- body %>

			<hr>

		</div>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>