<% titleVar = "| Log In" %>

<h1>Log In</h1>

<form action="/login" method="POST" role="form">
	<input type="email" class="form-control" name="email" placeholder="Email Address" required>
	<input type="password" class="form-control" name="password" placeholder="Password" minlength="8" maxlength="99" required>
	
	<button type="submit" class="btn btn-primary">Sign Up</button>
</form>